<div class="login-wrapper">
    <form class="login" name="form" (ngSubmit)="f.form.valid && tryLogin()" #f="ngForm" novalidate>
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            ABC Student Portal
            <h5 class="hint">Use your username to sign in</h5>
        </label>
        <div class="login-group" >

            <div class="form-control" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <input [disabled]="loading" class="username" type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required placeholder="Username">
            </div>

            <div class="form-control" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                <input [disabled]="loading" class="password" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password">
            </div>

            <div class="error active" *ngIf="f.submitted && !password.valid && !username.valid && !loading || unauthorize">
                Invalid user name or password
            </div>

            <!-- <div class="row"> -->
            <button [disabled]="loading" type="submit" class="btn btn-primary">Login</button>
            
            <!-- </div> -->
            
        </div>
        <span class="spinner spinner-inline" *ngIf="loading">
            Loading...
        </span>
    </form>
</div>
