<div class="container">
  <div class="w3-container w3-border w3-round-xlarge">
    <h1 align=center class="strong">Manage Course</h1>
    <div class="row">
      
      <div class="col-xs-6">
        <a [routerLink]="['create']" routerLinkActive="active">
          <div class="tile purple">
            <h3 class="title">Create Course Subject</h3>
            <p class="detail">Click here to create new student account.</p>
          </div>
        </a>
      </div>

      <div class="col-xs-6">
        <a [routerLink]="['view', 'allsubjects']" routerLinkActive="active">
          <div class="tile orange">
            <h3 class="title">View Course Subjects</h3>
            <p class="detail">Click here to view all subject for a course.</p>
          </div>
        </a>
      </div>

      <div class="col-xs-6">
        <a [routerLink]="['edit']" routerLinkActive="active">
          <div class="tile green">
            <h3 class="title">Update Course Subject</h3>
            <p class="detail">Click here to update a subject for a course.</p>
          </div>
        </a>
      </div>

      <div class="col-xs-6">
        <a [routerLink]="['delete']" routerLinkActive="active">
          <div class="tile red">
            <h3 class="title">Delete Course Subject</h3>
            <p class="detail">Click here to delete a subject for a course.</p>
          </div>
        </a>
      </div>
    
      
  </div>
</div>
</div>