.content-area{
    min-height: 500px;    
}

.content-container{
    background: #EEEEEE;
    /* background: #191c1f; */
}

.route-container {
    position:relative;
}
.route-container>* {
    display:block;
}