/* You can add global styles to this file, and also import other style files */
.w3-container {
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    background: #F3F6FA;
    min-height: 500px;
    min-width: 500px;
}
.w3-border {
    border: 3px solid ;
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
}

.w3-round-xlarge {
    border-radius: 5px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}