<nav>
    <section class="sidenav-content">
      
      <section class="nav-group">
        <input id="tabOverview" type="checkbox">
        <label for="tabOverview">Overview</label>
      </section>

      <section class="nav-group collapsible">
        <input id="tabProfile" type="checkbox">
        <label for="tabProfile">Your Account</label>
        <ul class="nav-list">
          <li><a class="nav-link">View Profile</a></li>
          <li><a class="nav-link">Edit Profile</a></li>
        </ul>
      </section>

      <section class="nav-group collapsible">
        <input id="tabstudent" type="checkbox">
        <label for="tabstudent">Manage Student</label>
        <ul class="nav-list">
          <li><a class="nav-link">View Student</a></li>
          <li><a class="nav-link">Create Student</a></li>
          <li><a class="nav-link">Update Student Details</a></li>
          <li><a class="nav-link">Delete Student</a></li>
          <li><a class="nav-link">Update Student Marks</a></li>
        </ul>
      </section>

      <section class="nav-group collapsible">
        <input id="tabCourse" type="checkbox">
        <label for="tabCourse">Manage Courses</label>
        <ul class="nav-list">
          <li><a class="nav-link">View Course Subjects</a></li>
          <li><a class="nav-link">Create Course Subjects</a></li>
          <li><a class="nav-link">Delete Course Subject</a></li>
        </ul>
      </section>

      <section class="nav-group collapsible">
          <input id="tabReports" type="checkbox">
          <label for="tabReports">Reports</label>
          <ul class="nav-list">
            <li><a class="nav-link">Report 1</a></li>
            <li><a class="nav-link">Report 2</a></li>
            <li><a class="nav-link">Report 3</a></li>
          </ul>
        </section>

      <a href="#" class="nav-link">Logout</a>
    </section>
  </nav>