<div class="container">
  <div class="w3-container w3-border w3-round-xlarge">
    <h1 align=center class="strong">Manage Students</h1>
    <div class="row">
      
      <div class="col-xs-6">
        <a [routerLink]="['create']" routerLinkActive="active">
          <div class="tile purple">
            <h3 class="title">Create Student Account</h3>
            <p class="detail">Click here to create new student account.</p>
          </div>
        </a>
      </div>

      <div class="col-xs-6">
        <a [routerLink]="['view']" routerLinkActive="active">
          <div class="tile orange">
            <h3 class="title">View/Edit Student Details</h3>
            <p class="detail">Click here to edit student details.</p>
          </div>
        </a>
      </div>
    
      <div class="col-xs-6">
        <a [routerLink]="['update-marks']" routerLinkActive="active">
          <div class="tile green">
            <h3 class="title">Update Student Marks</h3>
            <p class="detail">Click here to update a students marks records.</p>
          </div>
        </a>
      </div>

      <div class="col-xs-6">
          <!-- [routerLink]="['delete']" routerLinkActive="active"-->
        <a (click) = "findStudentModal = true" >
          <div class="tile red">
            <h3 class="title">Delete Student Account</h3>
            <p class="detail">Click here to delete a student's account.</p>
          </div>
        </a>
      </div>

  </div>
</div>
</div>

<!-- <clr-modal [(clrModalOpen)]= "findStudentModal">
  <h3 class="modal-title">I have a nice title</h3>
  <div class="modal-body">
      <p>But not much to say...</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="findStudentModal = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="findStudentModal = false">Ok</button>
  </div>
</clr-modal> -->

<clr-modal [(clrModalOpen)]="findStudentModal">
    <h3 class="modal-title">Search Student User</h3>
    <!-- <h3 class="modal-title"></h3> -->
    <div class="modal-body">
      <p>Look for existing user by student id.</p>
      <input type="text" name="category" placeholder="Student ID" />
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="findStudentModal = false">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="findStudentModal = false">Search</button>
    </div>
</clr-modal>