<div class="container">
  <div class="w3-container w3-border w3-round-xlarge">
    <h1 align=center class="strong">Update Student Marks</h1>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">

          <!-- Main Marks View -->
          <clr-stack-view>
              <clr-stack-header>
                  Marks editor
                  <button 
                      class="stack-action btn btn-sm btn-link" 
                      (click)="editModal = true" 
                      type="button">Edit</button>
              </clr-stack-header>
          
              <clr-stack-block *ngFor="let marks of existingSemesterMarks">
                  <clr-stack-label>{{marks.subjectName}}</clr-stack-label>
                  <clr-stack-content>{{marks.marks}}</clr-stack-content>
              </clr-stack-block>
          </clr-stack-view>
          
          <!-- Modal Form -->
          <clr-modal [(clrModalOpen)]="editModal">
            <h3 class="modal-title">Edit mode</h3>
            <div class="modal-body">
              <clr-stack-view>
                
                  <!-- Student Marks Update Form-->
                  <form class="compact" [formGroup]="marksUpdateForm"  novalidate>
                    <section class="form-block">    
                      <div formArrayName="subjectMarks">
                        
                        <clr-stack-block *ngFor="let subjectMark of subjectMarks.controls; let i=index" [formGroupName]="i">                            
                          
                          <clr-stack-label class="pullup-label">
                            <input type="text" formControlName="subjectName" readonly>
                          </clr-stack-label>
                  
                          <clr-stack-content>
                            <label for="inputMarks" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="subjectMark.get('marks').invalid && (subjectMark.get('marks').touched || subjectMark.get('marks').dirty)">
                              <input type="text" id="inputMarks" placeholder="Marks" formControlName="marks" size="4" marks-validate>                            
                              <show-errors [control]='subjectMark.get("marks")'></show-errors>
                            </label>                    
                          </clr-stack-content>

                        </clr-stack-block>
                        
                      </div>
                    </section>
                  </form>

                <!-- <p>Marks form value: {{ marksUpdateForm.value | json}}</p> -->
              </clr-stack-view>
            </div>

            <div class="modal-footer">
                <button type="submit" [disabled]="marksUpdateForm.invalid" class="btn btn-primary" (click)="onSubmit()">Update</button>
                <button type="button" class="btn btn-danger" (click)="revert(); editModal=false">Cancel</button>
            </div>
          </clr-modal>

      </div>
    </div>
  </div>
</div>